
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; /* Плавная прокрутка на всей странице */
}


@media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    .navigation {
      flex-direction: column; /* Переводим навигацию в вертикальный вид */
    }
  
    .section {
      padding: 10px;
    }
  
  
    h1, h2 {
        font-size: 32px;
    }

    p {
        font-size: 14px;
    }

    button {
        padding: 10px 20px;
        font-size: 14px;
    }

    .text-overlay {
        width: 80%;
    }

    .card {
        flex: 0 0 80%;
    }
  }


body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #fff;
    line-height: 1.6;
    user-select: none;
    margin: 0;
    height: 100vh;
    overflow-y: scroll; /* Вертикальная прокрутка */
    scroll-behavior: smooth; /* Плавная прокрутка */
}





/* Common Section Styling */
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
  }  

.image-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
    transition: transform 0.5s ease;
}

.image-content:hover img {
    transform: scale(1.05);
}






/* Logo */

.logo {
  color: #fff;
  text-shadow: 1px 1px 0 #ccc,
               2px 2px 0 #bbb,
               3px 3px 0 #aaa,
               4px 4px 0 #999,
               5px 5px 5px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  position: fixed;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font: bold;
  z-index: 1;
  top: 30px;
  left: 50px;
}

.logo h1 {
  display: flex;
  gap: 20px;
}

.logo a{
  text-decoration: none;
}

.logo span {
  display: inline-block; /* Позволяет каждой букве иметь собственное пространство */
  font-size: 2rem; /* Размер букв */
  margin-right: -7px;
  color: #fff; /* Основной цвет текста */
  transition: transform 0.3s ease, color 0.3s ease; /* Плавный переход для цвета и подпрыгивания */
  cursor: pointer; /* Указывает, что на элемент можно кликать */
}

/* Эффект при наведении */
.logo span:hover {
  transform: translateY(-10px); /* Поднимает букву вверх на 10px */
  color: #fcb832; /* Изменяет цвет при наведении */
}



/*GitHub Icon*/
.github-icon {
  position: fixed;
  bottom: 20px;
  left: 25px;
  z-index: 1;
  display: flex; /* Центрируем содержимое */
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%; /* Круглая форма контейнера */
  transition: all 0.3s ease; /* Плавный переход для эффектов */
}

.github-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none; /* Убираем подчеркивание у ссылки */
}

.github-icon img {
  width: 35px; /* Размер значка */
  height: 35px;
  transition: transform 0.3s ease; /* Плавное увеличение значка */
  
}

.github-icon:hover {
  background: #000000; /* Черный фон при наведении */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Легкая тень */
  transform: scale(1.2); /*Увеличиваем значок */
}







/* Menu section / navbar */
.menu-container{
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}


.navigation {
    position: fixed;
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
    
  }
  
.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
  .navigation li {
    margin: 5px 0;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    transition: color 0.3s;
  }
  
  .navigation li.active {
    color: #fcb832;
    font-weight: bold;
    transform: scale(1.2);
  }
  
  .content {
    margin-left: 60px; /* To leave space for the navigation */
    scroll-snap-type: y mandatory; /* Активируем привязку для вертикального скролла */
  }

/* Slider in nav bar */
.vertical-slider {
    width: 5px;
    height: 150px;
    background: #555;
    position: relative;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .slider-indicator {
    width: 100%;
    height: 20%;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    transition: top 0.3s ease;
  }


/* Contact button */

.contact-button {
  position: fixed;
  font-family: 'Poppins', sans-serif;
  z-index: 1;
  top: 0;
  right: 0;
  text-align: center; /* Центрирует кнопку внутри контейнера */
  margin: 20px; /* Добавляет немного пространства вокруг кнопки */
}

.contact-button-main {
  display: inline-block; /* Делает ссылку похожей на кнопку */
  padding: 10px 20px; /* Внутренние отступы кнопки */
  font-size: 18px; /* Размер текста */
  font-weight: bold; /* Жирный текст */
  color: #fff; /* Белый текст */
  background: rgba(255, 255, 255, 0.2); /* Полупрозрачный фон */
  
  border-radius: 30px; /* Закруглённые края */
  text-decoration: none; /* Убирает подчеркивание */
  transition: all 0.3s ease; /* Плавный переход для эффектов */
  cursor: pointer; /* Курсор указателя */
}

.contact-button-main:hover {
  background: rgba(255, 255, 255, 0.5); /* Изменение прозрачности фона при наведении */
  color: #000; /* Чёрный текст при наведении */
  transform: scale(1.1); /* Лёгкое увеличение размера */
}





/* Social icons  */
  .social-icons {
    position: fixed;
    z-index: 1;
    bottom: 270px;
    left: 105px;
  }

  .wrapper {
    display: table-row;
    list-style: none;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 20px;
    
  }
  
  .wrapper .icon {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .wrapper .icon a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
  }

  
  .wrapper .icon:hover {
    transform: scale(1.1);
  }
  
  .facebook:hover {
    background: #1877f2;
  }
  
  .twitter:hover {
    border-radius: 50%;
    background: #1da1f2;
  }
  
  .instagram:hover {
    background: #e4405f;
  }






  


/* Section 1 - Hero/ Main*/
.hero {
    background: url('./img/hero.jpg') no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    display: flex;   
}

.hero_content h1 {
  color: #fff;
  text-shadow: 1px 1px 0 #ccc,
               2px 2px 0 #bbb,
               3px 3px 0 #aaa,
               4px 4px 0 #999,
               5px 5px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
}

.hero_content a {
  text-decoration: none;
}

/* Latter style */
.hero_content span {
  display: inline-block; /* Позволяет каждой букве иметь собственное пространство */
  font-size: 5rem; /* Размер букв */
  margin-right: -15px;
  color: #fff; /* Основной цвет текста */
  transition: transform 0.3s ease, color 0.3s ease; /* Плавный переход для цвета и подпрыгивания */
  cursor: pointer; /* Указывает, что на элемент можно кликать */
}

/* Эффект при наведении */
.hero_content span:hover {
  transform: translateY(-10px); /* Поднимает букву вверх на 10px */
  color: #fcb832; /* Изменяет цвет при наведении */
}

/* Стиль для текста под заголовком */
.hero_content p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
}

.hero_content {
    position: fixed; 
    top: 50%;        
    left: 50%;       
    transform: translate(-50%, -50%); 
    opacity: 1; 
    transition: transform 1s ease, opacity 1s ease; 
  }
  
  .hero_content.hidden {
    transform: translate(-50%, -300%); 
    opacity: 0;
  }









/* Section 2 - Peach section */
.peach {
    width: 100%;
    height: 100vh;
    background: url('./img/beforeafter.jpg') no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    gap: 40px;
    color: white;
  }
  
  /* Text Section Styling */
  .peach-text {
    flex: 1;
    text-align: left;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px 40px;
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out;
  }
  
  .peach-text h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  
  .highlight {
    color: #fcb832;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s ease-in-out;
  }
  
  .highlight:hover {
    animation: bounce 0.3s ease-in-out;
    color: #00ffff;
  }
  
  .subtext {
    margin-top: 1rem;
    font-size: 1.2rem;
    opacity: 0.8;
  }

  .main-peach-text p {
    font-size: 18px;
  }
  
  /* Additional Main Text */
  .main-peach-text {
    flex: 1;
    text-align: left;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 1rem;
    line-height: 1.6;
    animation: fadeIn 1s ease-in-out;
  }
  











/* Section 3 - Skills and Expirience */
.skills {
  background-image: url("./img/shadow.jpg");
  background-size: cover;
}

.skills-section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 2rem;
}


.contact-btn:hover {
    background: #fff;
    color: #101010;
}

.skills-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.quote {
    font-size: 1rem;
    color: #aaa;
    margin-bottom: 1rem;
}

.description {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #ccc;
    line-height: 1.5;
}

.linkedin-link {
    color: #fcb832;
    text-decoration: none;
    transition: color 0.3s;
}

.linkedin-link:hover {
    color: #00ffff;
}

/* Skills Grid */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 2rem;
    
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1a1a1a;
    padding: 1rem;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Тень для глубины */
    backdrop-filter: blur(10px); /* Эффект размытия заднего фона */
    background: rgba(255, 255, 255, 0.1); /* Прозрачный белый фон */
}

.skill-item img {
    width: 40px;
    margin-bottom: 0.5rem;
}

.skill-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}









/* Section 4 - Projects  */
.projects {
  background: url('./img/skillimg/skillsbackground.jpg') no-repeat center center/cover;
  text-align: center;
  padding: 50px;
  background-color: #1e1e1e;
}

.projects h2 {
  color: #fff;
  text-shadow: 1px 1px 0 #ccc,
               2px 2px 0 #bbb,
               3px 3px 0 #aaa,
               4px 4px 0 #999,
               5px 5px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold; 
  top: 150px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
}

/* Latter style */
.projects span {
display: inline-block; /* Позволяет каждой букве иметь собственное пространство */
font-size: 3rem; /* Размер букв */
margin-left: -10px;
color: #fff; /* Основной цвет текста */
transition: transform 0.3s ease, color 0.3s ease; /* Плавный переход для цвета и подпрыгивания */
cursor: pointer; /* Указывает, что на элемент можно кликать */
}

/* Эффект при наведении */
.projects span:hover {
transform: translateY(-10px); /* Поднимает букву вверх на 10px */
color: #fcb832; /* Изменяет цвет при наведении */
}

.projects-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}


.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  flex: 0 0 30%;
  transition: transform 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s, transform 0.8s;

}

.card.visible {
  opacity: 1;
  transform: translateY(0);
} 


.projects img {
  position: relative;
  height: 150px;
  width: 200px;
  border-radius: 10px;

}

.card:hover {
  transform: scale(1.05);
}


/* Common Section Styling */
section {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #333;
}











/* Section 5- Contact information and inputs */

.contact_section {
    background: url('./img/mountdark.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
  }
  

  .contact-container {
    
    padding: 40px;
    width: 100%;
    max-width: 400px;
    border-radius: 15px; /* Скругленные углы */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Тень для глубины */
    backdrop-filter: blur(10px); /* Эффект размытия заднего фона */
    text-align: center;
    color: white;
  }
  
  /* Заголовок */
  .contact-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Группы ввода */
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    outline: none;
    transition: background 0.3s ease-in-out;
  }

  #input-field{
  width: 100%;
  min-height: 50px; /* Минимальная высота */
  max-height: 300px; /* Максимальная высота (опционально) */
  resize: none; /* Отключить возможность ручного изменения размера */
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow-y: hidden; /* Скрыть вертикальный скролл */
  }
  .input-group input::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .input-group input:focus {
    background: rgba(255, 255, 255, 0.3);
  }
  
  /* Кнопка регистрации */
  .send-btn {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .send-btn:hover {
    background-color: rgba(0, 123, 255, 1);
  }
  
  /* Перенаправление на вход */
  .login-redirect {
    margin-top: 15px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .login-redirect a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .login-redirect a:hover {
    color: #0056b3;
  }