body {
  margin: 0;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  overflow-y: scroll; /* Вертикальная прокрутка */
  scroll-behavior: smooth; /* Плавная прокрутка */
}

.navigation {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  margin: 10px 0;
  font-size: 14px;
  color: #666;
  cursor: pointer;
  text-align: center;
  transition: color 0.3s;
}

.navigation li.active {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.content {
  margin-left: 60px; /* To leave space for the navigation */
  scroll-snap-type: y mandatory; /* Активируем привязку для вертикального скролла */
}


section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background: #222;
  color: white;
  border-bottom: 1px solid #444;
}

section:nth-child(odd) {
  background: #333;
}
