.App {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.autocomplete {
  margin-bottom: 20px;
}

.autocomplete input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

.autocomplete .filters select,
.autocomplete .filters input {
  padding: 8px;
}

.search-results ul {
  list-style: none;
  padding: 0;
}

.search-results .search-item {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
}

.search-results .search-item:hover {
  background-color: #585353;
}

.book-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}

.book-details h2 {
  margin-bottom: 10px;
}
